* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fs-7 {
  font-size: .8rem !important;
}

.fs-8 {
  font-size: .6rem !important;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

button:active {
  border: 0 !important;
}

.my-btn {
  cursor: pointer;
}